* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif; /* Fuente de el texto */
}
/* Barra de navegacion lista */
nav ul {
    display: flex; /* Alinear un elemento al lado del otro */
    background-color: rgb(0, 0, 0); /* Color de fondo */
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
    list-style: none; /* Elimina los marcadores de una lista*/
    height: 50px; /* Modifica el tamaño alto*/
    padding: 0;
}
/* Texto navegacion */
nav a {
    text-decoration: none; /* Quitar subrayado */
    color: rgb(255, 255, 255); /* Color del texto */
    font-weight: bold; /* Negrilla al texto */
    font-size: 12px; /* Tamaño de letra */
    padding: 16px 30px; /* Agregar borde a la letra de item del nav */
    display: block; /* Ocupar todo el ancho del contenedor */
}
/* Hover texto navegacion */
nav a:hover{
    color:rgb(0, 0, 0); /* Color de la letra al pasar el cursor */
}
/* Hover fondo item navegacion */
.nav-item:hover {
    background-color: rgb(255, 255, 255); /* Cambiar color de fondo de item nav al pasar el cursor */
}
main{
    flex-grow: 1;
}
/* Footer */
footer {
    position: fixed;   /* Se posiciona en relacion con la ventana del navegador */
    bottom: 0;  /* Fijar en la parte inferior de la ventana */
    background-color: rgb(0, 0, 0); /* color del fondo del footer */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    height: 250px; /* El tamaño de largo del footer */
}
.item {
    padding: 5px; /* Espacio alrededor*/
    display: flex; /* Se posicionan los elementos uno al lado del otro */
    align-items: center; /* Se centran elementos verticalmente */
    gap: 100px; /* Espacio entre items */
    height: 92%; /* Ocupa el 92% del alto del footer */
    justify-content: center; /* Se centran los items horizontalmente */
}
 /* Seccion 1 footer */
.content {
    height: 50px; 
    width: 160px;
    margin-bottom: 100px; /* Margen en hacia abajo */
    text-align: center; /* Centra el texto horizontalmente */
    margin-right: 100px;
}
 /* Texto footer titulo */
.text1 {
    color: white;
    font-weight: bold;
}
 /* linea */
hr {
    width: 95%; /* Largo de la linea */
    height: 2px; /* Grosor de la linea */
    background-color: rgb(255, 0, 255); /* Color de la línea */
    border: none; /* Eliminar borde */
    margin-left: 5px;
}
 /* Descripcion footer*/
 .text2 {
    font-size: 10px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 150px;
 }
 /* Seccion 2 y 3 footer */
 .seccion {
    margin-bottom: 5px;
 }
.seccion, .contact {
    font-size: 10px;
    color: white;
    list-style: none; /* Elimina los marcadores de la lista */
}
.seccion a, .contact a{
    color: white;
    text-decoration: none; /* Elimina el subrayado */
}
.seccion-item, .contact-item{
    padding: 5px;
}
.seccion-item-t {
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #00ffff;
}
.seccion-item :hover, .contact-item :hover{
    color: rgb(255, 0, 255);
}
.contact {
    margin-bottom: 30px;
}
 /* Copyright */
.copy {
    color: white;
    font-size: 8px;
    text-align: center; /* Centrar copyright horizontalmente */
}
/* Seccion redes */
.tam-icon {
    height: autopx;
    width: 40px;
    margin: 10px;
    margin-bottom: 75px;
}
.social {
    margin-left: 100px;
}
.des-sm {
    font-size: 10px;
    width: 1800px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 100px;
}
.des-sm h1 {
    color: #00ffff;
    padding: 10px;
}
.des-sm p {
    font-size: 13px;
}
.img-tatis img {
    height: autopx;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}
.cont-sm {
    display: flex;
    color: white;
    
}
.sec1-sm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 2000px;  
}
.name{
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 2px 4px 6px rgb(255, 0, 255, 0.7);
}
.sec1-sm p {
    color: white;
    font-size: 12px;
    margin: 5px;
}
body {

    background: linear-gradient(180deg, #000000, #1b1919);
    
}

