html, body {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #fce7eb;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
 /* Nav-bar */
nav { 
    display: flex;
    list-style: none;
    background-color: black;
    width: 100%; 
    height: 60px;
    border-bottom: 1px solid black;
}
.nav-item{
    flex: 1;
    display: flex;
    height: 100%; 
}
.eliminar{
    flex: 1;
    display: flex;
    height: 100%; 
}
.nav-item a{
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none; 
    align-items: center;
    justify-content: center;
} 
.nav-item a:hover {
    background-color: white;
    color: black;
}
nav img {
    height: 80%;
    padding: 5px 0 5px;
    margin: 0 0 0 5%;
}

 /* Footer */
 footer {
    width: 100vw;
    background-color: black;
 }
 /* Container 1 */
.container-f-1 {
    display: inline-block;
    text-align: center;
    margin: 1vw 3vw;
}
.name-f{
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
.container-f-1 hr{
    margin: 0 auto;
    width: 60%;
    height: 2px;
    border: none;
    background-color: #ff00ff;
}
.profession-f {
    font-size: 14px;
    color: white;
    padding: 5px 0;
}
 /* Container 2 */
.container-f-2 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.container-null {
    width: 25%;
}
 /* Seccion - Contact */
.seccion, .contact{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    list-style: none; 
}
.seccion-item-t, .contact-item-t {
    font-weight: bold;
    font-size: 16px;
    color: #00ffff;
}
.seccion-item a, .contact-item a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.seccion .seccion-item::before {
    content: "> ";  
    color: #00ffff;
    font-size: 14px; 
}
.seccion-item :hover, .contact-item :hover{
    color: #ff00ff;
}
.contact img {
    height: auto;
    width: 18px;
    margin-right: 10px;
}
.social {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    height: 100%;
    margin: 0 8%;
}
.social a {
    display: flex;
    align-items: flex-start;
    flex: 1;
    justify-content: center;
}
.social img {
    height: 20%;
    width: 70%;
}
.social a :hover {
    width: 80%;
    height: auto;
}
 /* Copyright */
 .line-copy {
    margin: 0 auto;
    width: 95%;
    height: 1px;
    border: none;
    background-color: #ff00ff;
 }
 .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    font-size: 14px;
 }
 @media (max-width: 1050px) {
    .eliminar {
        display: none;
    }
 }




