* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif; /* Fuente de del texto */
}
/* Barra de navegacion lista */
nav ul {
    display: flex; /* Alinear un elemento al lado del otro */
    background-color: rgb(0, 0, 0); /* Color de fondo */
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
    list-style: none; /* Elimina los marcadores de una lista*/
    height: 50px; /* Modifica el tamaño alto*/
    padding: 0;
}
/* Texto navegacion */
nav a {
    text-decoration: none; /* Quitar subrayado */
    color: rgb(255, 255, 255); /* Color del texto */
    font-weight: bold; /* Negrilla al texto */
    font-size: 12px; /* Tamaño de letra */
    padding: 16px 30px; /* Agregar borde a la letra de item del nav */
    display: block; /* Ocupar todo el ancho del contenedor */
}
/* Hover texto navegacion */
nav a:hover{
    color:rgb(0, 0, 0); /* Color de la letra al pasar el cursor */
}
/* Hover fondo item navegacion */
.nav-item:hover {
    background-color: rgb(255, 255, 255); /* Cambiar color de fondo de item nav al pasar el cursor */
}

